<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


	<variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} |${pad:padding=5:inner=${uppercase:${level}}}|${pad:padding=-55:inner=${callsite:IncludeSourcePath=true}} | "/>
	<variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

	<targets>
		<target name="traceFile"  xsi:type="File" archiveEvery="Day" archiveFileName="${basedir}/../../../logs/archive/TraceArchive{########}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" fileName="${basedir}/../../../logs/trace.txt" layout="${linePrefix}${message}${exceptionFormat}"/>
		<target name="infoFile"   xsi:type="File" archiveEvery="Day" archiveFileName="${basedir}/../../../logs/archive/InfoArchive{########}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" fileName="${basedir}/../../../logs/info.txt" layout="${linePrefix}${message}${exceptionFormat}"/>
		<target name="errorFile"  xsi:type="File" archiveEvery="Day" archiveFileName="${basedir}/../../../logs/archive/ErrorArchive{########}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" fileName="${basedir}/../../../logs/error.txt" layout="${linePrefix}${message}${exceptionFormat}"/>
		<target name="logconsole" xsi:type="Console" layout="${linePrefix}${message}${exceptionFormat}"/>
	</targets>

	  <rules>
		  <logger name="*" minlevel="Trace" writeTo="traceFile" />
		  <logger name="*" minlevel="Info"  writeTo="infoFile" />
		  <logger name="*" minlevel="Warn"  writeTo="errorFile" />
		  <logger name="*" minlevel="Info"  writeTo="logconsole" />
	  </rules>
</nlog>
